body{
    width: 100vW;
    height: 100vh;
    background-image: radial-gradient(at top ,hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}
.logo{
    width: 50%;
}
.margen{
    border-style: solid;
    border-color: hsl(217, 16%, 45%);
    border-width: 2px;
    border-radius: 20px;
}
.score{
    float: right !important;
    background-color: white;
    width: 140px;
    height: 99px;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0.1rem;
}
.lineas{
    position: absolute;
}
.boton:hover{
    transform: scale(1.2);
}
#paper{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(#CBCBCB, #DCDCDB);
    border-style: solid;
    border-color: #5471F2;
    border-width: 18px;
    position: absolute;
    left: 65%;
    margin-top: 10%;
    transition: transform .2s;
    cursor: pointer;
    z-index: 2;
}
#scissors{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(#CBCBCB, #DCDCDB);
    border-style: solid;
    border-color: #ECA523;
    border-width: 18px;
    position: absolute;
    left: 12%;
    margin-top: 10%;
    transition: transform .2s;
    cursor: pointer;
    z-index: 2;
}
.rock-row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    position: absolute;
    z-index: 2;
}
#rock{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(#CBCBCB, #DCDCDB);
    border-style: solid;
    border-color: #D9405A;
    border-width: 18px;
    transition: transform .2s;
    cursor: pointer;
}
#score_label{
    color: hsl(229, 64%, 46%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    margin-top: 0.6rem;
}
#puntaje{
    color: rgb(86, 84, 105);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    margin-top: -25px;
}
