body{
    width: 100vW;
    height: 100vh;
    background-image: radial-gradient(at top ,hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}
.logo{
    width: 50%;
}
.margen{
    border-style: solid;
    border-color: hsl(217, 16%, 45%);
    border-width: 2px;
    border-radius: 20px;
}
.score{
    float: right !important;
    background-color: white;
    width: 140px;
    height: 99px;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0.1rem;
}
#score_label{
    color: hsl(229, 64%, 46%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-top: 0.6rem;
}